@page "/addlocalidade"

@using BaltaDesafioBlazor.Shared.Models.Locality
@using BaltaDesafioBlazor.Domain.Handlers.Commands
@using BaltaDesafioBlazor.Infra.Extensions.ModelExtensions

@inherits ComponentBase
@implements IDisposable

@inject LocalityHandler Handler
@inject NavigationManager NavigationManager

<h3>Add Localidade</h3>

<form @onsubmit="HandleSubmit">
    <div>
        <label for="code">Code:</label>
        <input type="text" id="code" @bind="model.Id" />
    </div>
    <div>
        <label for="city">City:</label>
        <input type="text" id="city" @bind="model.City" />
    </div>
    <div>
        <label for="state">State:</label>
        <input type="text" id="state" @bind="model.State" />
    </div>
    <button type="submit">Save</button>
</form>

@code {
    CancellationTokenSource _tokenSource = new();
    LocalityModel model = new();

    private async Task HandleSubmit()
    {
        var command = model.ToCreateCommand();
        var result = await Handler.ExecuteAsync(command, _tokenSource.Token);

        if (result.Success)
        {
            NavigationManager.NavigateTo("/localidade");
        }
    }

    public void Dispose()
    {
        _tokenSource.Cancel();
    }
}