@page "/localidade"

@using BaltaDesafioBlazor.Shared.Models.Locality
@using BaltaDesafioBlazor.Domain.Handlers.Queries

@inherits ComponentBase

@implements IDisposable

@inject ILocalityQueryHandler Handler
@inject NavigationManager NavigationManager

<h3>Localidades</h3>

<a href="/addlocalidade">Add New Localidade</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var localidade in localities)
        {
            <tr>
                <td>@localidade.Id</td>
                <td>@localidade.City</td>
                <td>@localidade.State</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => EditLocalidade(localidade.Id)">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>



@code {
    List<LocalityModel> localities = [];
    CancellationTokenSource tokenSource = new();

    protected override async Task OnInitializedAsync()
    {
        var result = await Handler.GetLocalitiesAsync(cancellationToken: tokenSource.Token);

        if (result.Success)
        {
            localities = result.Result;
        }
    }
    private void EditLocalidade(string localidadeId)
    {
        NavigationManager.NavigateTo($"/editlocalidade/{localidadeId}");
    }

    public void Dispose()
    {
        tokenSource.Cancel();
    }
}
