@page "/localidadecity"

@inherits ComponentBase

@using BaltaDesafioBlazor.Shared.Models.Locality
@using BaltaDesafioBlazor.Domain.Handlers.Queries

@implements IDisposable

@inject ILocalityQueryHandler Handler

<h3>Localidades</h3>

<div class="form-group">
    <label for="cidade">Digite o nome da cidade:</label>
    <input id="cidade" @bind="cidadePesquisada" class="form-control" />
</div>

<button @onclick="AtualizarLocalidades">Buscar</button>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var localidade in localities)
        {
            <tr>
                <td>@localidade.Id</td>
                <td>@localidade.City</td>
                <td>@localidade.State</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<LocalityModel> localities = [];
    string cidadePesquisada = string.Empty;
    CancellationTokenSource tokenSource = new();

    protected override Task OnInitializedAsync()
    {
        return AtualizarLocalidades();
    }

    private async Task AtualizarLocalidades()
    {
        var result = await Handler.GetLocalitiesAsync(city: cidadePesquisada);

        if (result.Success)
        {
            localities = result.Result;
        }
    }

    public void Dispose()
    {
        tokenSource.Cancel();
    }
}
