@inherits LayoutComponentBase

<PageTitle>Desafio Blazor</PageTitle>

<Layout Style="height:100%">
    <Header Class="bg-transparent">
        <div class="d-flex flex-row gap-1 justify-content-between">
            <Text Class="fs-3">Desafio Blazor</Text>
            <LoginDisplay />
        </div>
    </Header>
    <Content>
        <article class="content px-4">
            @Body
        </article>
    </Content>
    <Footer></Footer>
</Layout>
