@inherits LayoutComponentBase

<PageTitle>Desafio Blazor</PageTitle>

<Layout Style="min-height:100%">
    <Header Class="bg-transparent">
        <div class="d-flex flex-row gap-1 justify-content-between flex-wrap-reverse">
            <Text Class="fs-3">Desafio Blazor</Text>
            <LoginDisplay />
        </div>
    </Header>
    <Content>
        <article style="padding-top:54px">
            @Body
        </article>
    </Content>
    <Footer></Footer>
</Layout>
